@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Thin.woff2') format('woff2'),
  url('../../fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Black.woff2') format('woff2'),
  url('../../fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Light.woff2') format('woff2'),
  url('../../fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
}
