.tm-our-advantage{
  padding: 100px 0;
}
.tm-our-advantage__content{}
.tm-our-advantage__title{
  margin-bottom: 90px;
}

.tm-our-advantage__list{
  display: flex;
  flex-wrap: wrap;

  margin-left: -20px;
  margin-bottom: 30px;
}

.tm-our-advantage__item{
  margin-left: 20px;
  margin-bottom: 50px;
  width: calc(100% / 3 - 20px);

  &:hover{
    text-decoration: none;

    .tm-our-advantage__item-label{
      color: #cedfff;
    }
  }
}
.tm-our-advantage__item-image{
  width: 100%;
  height: 200px;
  object-fit: cover;

  margin-bottom: 20px;
}
.tm-our-advantage__item-label{
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

  margin-bottom: 12px;
}
.tm-our-advantage__item-description{
  font-size: 14px;
  line-height: 25px;
  color: #7F9BE4;
}

.tm-our-advantage__map{
  width: 100%;
  height: 400px;
  position: relative;
}
.tm-our-advantage__map-image{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
