.tm-b-photo-gallery{
  margin-bottom: 115px;
}
.tm-b-photo-gallery__title{
  margin-bottom: 75px;
}
.tm-b-photo-gallery__list{
  display: flex;
  flex-wrap: wrap;
}
.tm-b-photo-gallery__item{
  width: calc(100% / 3);
  position: relative;
  overflow: hidden;
  background: #1D2F56;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;


  &:hover{
    img{

    }
    &:after{
      content: '';
    }
  }
  &:before{
    content: "";
    padding-top: 100%;
    float: left;
  }
  &:after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(18, 36, 64, 0.2);
  }
}
.tm-b-photo-gallery__item img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  cursor: pointer;
}

.tm-b-photo-gallery__all-photo{
  display: flex;
  padding: 30px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #33B99E;
  box-sizing: border-box;
  align-items: flex-end;

  &:hover{
    color: #33B99E;
    text-decoration: none;
  }
}
