.tm-banner{
  position: relative;
  z-index: 1;

  padding: 245px 0 115px;

  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, rgba(1, 7, 18, 0.9) 0%, rgba(17, 32, 64, 0.9) 100%);
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}
.tm-banner__content{
  padding: 0 75px;
  position: relative;
  z-index: 1;
}

.tm-banner__title{
  font-weight: 800;
  font-size: 45px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 25px 0;
  position: relative;
  z-index: 1;
  margin-bottom: 45px;

  * > {
    margin: 0;
  }

  &:after{
    content: '';
    position: absolute;
    width: 100%;
    left: -145px;
    top: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(239, 70, 73, 0.4) 0%, rgba(67, 117, 223, 0) 101.64%);
    z-index: -1;
  }
}
.tm-banner__items{
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
}

.tm-banner__item{}
.tm-banner__item-image{
  width: 60px;
  margin-bottom: 35px;
}
.tm-banner__item-label{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tm-banner__background-image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
