header{}
header.tm-header-home{
  .uk-sticky-placeholder{
    display: none;
  }

  .tm-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
}

.tm-header.uk-active{
  background: rgb(29, 43, 78);
  padding: 10px 0;
  box-shadow: 0 0 5px 1px #0C1A3A;

  .tm-header__logo .tm-logo__image{
    width: 40px;
    margin-right: 15px;
  }
  .tm-header__logo .tm-logo__title{
    font-size: 14px;
    line-height: 16px;
  }
  .tm-header__logo .tm-logo__floor{
    font-size: 10px;
    line-height: 14px;
  }
}

.tm-header{
  padding: 40px 0;
}
.tm-header__logo{
  .tm-logo__image{
    width: 67px;
    margin-right: 24px;
  }
  .tm-logo__info{
    display: flex;
    flex-direction: column;
  }
  .tm-logo__title{
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;

    p{
      margin: 0;
    }
  }
  .tm-logo__floor{
    font-weight: 800;
    font-size: 14px;
    line-height: 27px;
  }

  &:hover{
    text-decoration: none;
  }
}
.tm-header__content{
  display: flex;
  align-items: center;
}
.tm-header__repulsive{
  margin-left: auto;
}
.tm-header__phone{
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  font-weight: 500;
  margin-right: 35px;

  &:hover{
    color: #bbebff;
    text-decoration: none;
  }
}
.tm-header__button-login{
  font-weight: 500;
  margin-right: 45px;
}
.tm-header__button-menu{
  height: 33px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  background: transparent;
  outline: none;
  color: white;
  cursor: pointer;

  &:hover{
    background: rgba(255, 255, 255, 0.15);
  }
}
