.tm-info-block{
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 115px;

  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(239, 70, 73, 0.8);
    z-index: -1;
  }
}
.tm-info-block__content{
  width: 60%;
}
.tm-info-block__image-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}


.tm-info-block__title{
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;

  margin-bottom: 35px;
}
