.tm-footer{
  padding: 50px 0;
}
.tm-footer__content{
  display: flex;
  align-items: center;
}



.tm-footer__logo{
  display: flex;
  align-items: center;

  margin-right: 75px;
}
.tm-footer__logo-image{
  width: 55px;
  margin-right: 15px;
}
.tm-footer__logo-label{
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;

  * {
    margin: 0;
  }
}

.tm-footer__menu{
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;

  columns: 2;
}
.tm-footer__menu-item a{
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #B4C6EE;
  text-decoration: none;
}


.tm-footer__right{
  display: flex;
  flex-direction: column;
}

.tm-footer__phone{
  font-size: 14px;
  line-height: 17px;
  color: #B4C6EE;

  margin-bottom: 14px;

  &:hover{
    color: #B4C6EE;
    text-decoration: none;
    opacity: 0.5;
  }
}
.tm-footer__text{
  font-size: 10px;
  line-height: 12px;
  color: #B4C6EE;

  margin-bottom: 15px;
}
a.tm-footer__text{
  &:hover{
    color: #B4C6EE;
    opacity: 0.5;
    text-decoration: none;
  }
}
