.tm-list-office{
  position: relative;
  overflow: hidden;
  margin-bottom: 110px;
}
.tm-list-office__content{
  display: flex;
  flex-direction: column;
}
.tm-list-office__button-all{
  color: #EF4649;
  border-color: #EF4649;
  margin: 0 auto;

  &:hover{
    background: rgba(239, 70, 73, 0.3);
    color: #EF4649;
  }
  &:active{
    background: rgb(239, 70, 73);
  }
}
.tm-list-office__list{
  margin-bottom: 35px;
}

.tm-big-card-office{
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.tm-big-card-office--right{
  flex-direction: row-reverse;
  .tm-big-card-office__image{
    right: initial;
    left: 0;
  }
  .tm-big-card-office__left{
    box-shadow: -4px 4px 30px rgba(0, 0, 0, 0.3);
  }
  .tm-big-card-office__arrow{
    left: initial;
    right: calc(100% - 20px);
    justify-content: end;
    transition: right 0.3s;

    img{
      transform: rotate(180deg);
    }

    &:hover{
      left: initial;
      right: 100%;
    }
  }
}
.tm-big-card-office__left{
  position: relative;
  z-index: 1;
  height: 500px;
  width: 40%;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
}
.tm-big-card-office__right{
  width: 50%;
}
.tm-big-card-office__image{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  max-width: initial;
  width: calc(((100vw - 1200px) / 2) + (1200px / 100 * 40));
}
.tm-big-card-office__title{
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;

  margin-bottom: 32px;
}
.tm-big-card-office_info-list{
  columns: 2;
  list-style: none;
  margin: 0;
  padding: 0;

  margin-bottom: 35px;
}
.tm-big-card-office_info-item{
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

  span{
    font-weight: bold;
  }

  &:before{
    content: '•';
    color: #33B99E;
    margin-right: 10px;
    font-size: 20px;
  }
}
.tm-big-card-office__arrow{
  position: absolute;
  width: 70px;
  height: 40px;
  background: #33B99E;
  left: calc(100% - 20px);
  z-index: -1;
  top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;

  transition: left 0.3s;

  &:hover{
    left: 100%;
  }
}
.tm-big-card-office__arrow img{
  width: 30px;
  height: 30px;
}
