.tm-about-block{
  padding: 140px 0;
  position: relative;
  overflow: hidden;

  &:after{
    content: '';
    background: rgba(107, 136, 200, 0.2);
    z-index: -1;
  }
}
.tm-about-block__content{
  position: relative;
  display: flex;
}
.tm-about-block__info{
  width: 45%;
  margin-left: auto;
}
.tm-about-block__title{
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;

  margin-bottom: 45px;
}
.tm-about-block__description{
  font-size: 14px;
  line-height: 25px;
  color: #FFFFFF;

  margin-bottom: 25px;
}
.tm-about-block__link{
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #EF4649;
  text-transform: uppercase;
}
.tm-about-block__logo{
  position: absolute;
  width: 500px;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}
