.tm-mobile-app{
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
.tm-mobile-app__content{
  display: flex;
}
.tm-mobile-app__content-left{}
.tm-mobile-app__content-right{
  position: relative;
  width: 35%
}
.tm-mobile-app__title{
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;

  margin-bottom: 45px;
}
.tm-mobile-app__link{
  padding: 7px 45px;
  border-radius: 25px;

  &:hover{

  }
}
.tm-mobile-app__image{
  position: absolute;
  width: 400px;
  bottom: -50px;
  max-width: initial;
  right: 0;
}
