body{
  background-color: #122441;
}

.tm-logo{
  display: flex;
  align-items: center;
}
.tm-logo__title{
  color: #FFFFFF;
}
.tm-logo__floor{
  color: #33B99E;
}

.tm-title{
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  position: relative;

  padding-left: 20px;

  &:after{
    content: '';
    position: absolute;
    width: calc((100vw - 1200px) / 2);
    height: 1px;
    right: 100%;
    bottom: 5px;
    background: #809BE4;
  }
}
