.tm-block-news{
  position: relative;
  overflow: hidden;

  padding-bottom: 100px;
}
.tm-block-news__top{
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}
.tm-block-news__title{
  margin-right: 50px;
}
.tm-block-news__link-all{
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #EF4649;
  text-transform: uppercase;
}
.tm-block-news__link-list{
  display: flex;
  margin-left: -20px;
}

.tm-card-news{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 35px 25px;
  width: calc(100% / 3 - 20px);
  height: 450px;
  margin-left: 20px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover{
    text-decoration: none;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
  }
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #1A2B4D 75%);
    z-index: -1;
  }
}
.tm-card-news__label{
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.tm-card-news__description{
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
.tm-card-news__image{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -2;
}
