//
// Core
//

@import "~uikit/src/less/components/_import.less";
@import "~sitis-luya-js/src/less/common.less";

//
// Theme
//
//
//// path fonts
@fontfolder: '../../fonts';
//
//// path for uikit images
@images-base: '~uikit/src/images';
//
//// path for theme images
@images-theme: '../../img';
//
@import "theme/_import.less";

@global-font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;

.detail {
  position: relative;
}

